<h1 style="text-align:center;">All users</h1>
<% if flash.notice.present? %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
<p><%= flash.notice %></p>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>
<ul class="list-unstyled">
<% @users.each do |user| %>
<li class="mb-3">
<%= gravatar_for user %>
<%= link_to user.name,user %>
<% if current_user && current_user.admin? %>
| <%= link_to "delete",user,method: :delete,class:"text-dark text-decoration-none",data: {confirm:"You sure?"} %>
<% end %>
</li>
<% end %>
</ul>
<%= will_paginate %>